<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-4">
			
		  <p>&copy Earth System & Global Change Lab </p>
              <p>We are part of the <a href="http://ese.sustc.edu.cn/en">School of Environment Science and Engineering</a> at <a href="https://www.sustech.edu.cn/en">Southern University of Science and Technology</a>.</p>
            

		   <p>  </p><p>
            		  
            
		</div>
		<div class="col-sm-4">
		  Funding:<br />
		  Start-up Fund provided by Southern University of Science and Technology
		</div>
		<div class="col-sm-4">
		  Contact:<br />
		  Taizhou building, Southern University of Science and Technology<br />
		  Nanshan District<br />
		  Shenzhen<br />
		  China <br />
            (<a href="https://map.baidu.com/poi/%E5%8D%97%E6%96%B9%E7%A7%91%E6%8A%80%E5%A4%A7%E5%AD%A6/@12691215.603086125,2568070.809688995,15.09z?uid=72b66886812878a6a11de9b0&ugc_type=3&ugc_ver=1&device_ratio=1&compat=1&querytype=detailConInfo&da_src=shareurl">Maps</a>, <a href="https://www.sustech.edu.cn/en">Directions</a>)
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
